@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    /* SOLANA COLOR TEMPLATE */
    /* used in select wallet button colors */
    --SURGE_GREEN:#00FFA3;
    --OCEAN_BLUE:#03E1FF;
    --PURPLE_DINO:#DC1FFF;
    /* Image Background Color */
    --LIGHT_BLACK:#141414;
    /* Product Description font*/
    --DARK_WHITE: rgb(186, 184, 184);
    /* Product Card Border*/
    --LIGHT_GREY: rgb(104, 104, 104);
}