.productContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 320px;
    height: 400px;
    background-color: #141414;
    margin: 15px;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgb(104, 104, 104);
    /* background: url('../public/blur-bg.png') */
  }
  
  .productImage{
    width: 140px;
    background-color: #141414;
  }
  
  .productDetails{
    display: flex;
    flex-direction: column;
    max-width: 95%;
  }
  
  .productText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .productTitle{
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 12px;
  }
  .productDescription{
    color:rgb(186, 184, 184);
  }
  
  .productAction{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .productPrice{
    font-size: 1.3em;
  }